.Header {
    background-color: #fff;
    height: 5rem;
    border-bottom: 2px solid #9ca3af;
    padding: 0.5rem;
    display: flex; 
    justify-content: space-between;
    align-items:center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.Title {
    font-size: 1.125rem;
    line-height: calc(1.75/1.125);
}

.supported-plants-btn {
    background-color: #d1d5db;
    color: #166534;
    border-radius: 0.375rem;
    height: 2rem;
    width: 10rem;
}