.PlantInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 400px;
}

.confident-match {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.subtitle {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.circle-container {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: conic-gradient(#166534 0% 85% #e5e7eb 85% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1rem;
}
