.App {
    background-color: #f3f4f6;
    width: 100vw;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 1.5rem;
    color: #14532d;
    display: flex;
    flex-direction: column;
}

.mainlayout {
    background-color: white;
    display: flex;
    flex: 1;
    padding: 1.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    justify-content: center;
}

.sublayout {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-items: center;
}